@import "tailwindcss";

@layer utilities {
  @keyframes scanline {
    0% {
      top: 0%;
      opacity: 0.8;
    }
    50% {
      top: 96%;
      opacity: 1;
    }
    100% {
      top: 0%;
      opacity: 0.8;
    }
  }

  .animate-scanline {
    animation: scanline 2.5s ease-in-out infinite;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
}
